[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/jp-quintana/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/jp-quintana/products-ms.git
[submodule "order-ms"]
	path = order-ms
	url = https://github.com/jp-quintana/order-ms.git
